header {
    height: 15vh;
    width: 100%;
    background: $navbar;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    nav {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        .logo {
            a {
                img {
                    height: 12vh;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }
        }
        .menu {
            ul {
                height: 100%;
                display: flex;
                align-items: center;
                list-style-type: none;
                li {
                    a {
                        color: #fff;
                        border-radius: 5px;
                        font-size: 25px;
                        text-decoration: none;
                        transition: all 0.5s;
                        padding: 10px;
                    }
                    a:hover {
                        background-color: #ffffff70;
                    }
                }
            }
        }
    }
}